footer {
    background-color: #142429;
    width: 100%;
    height: 50px;
  }
  
.footerflex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0px;
}
  
.footeritem {
    font-weight: 650;
    color: #fff;
}

@media (max-width: 569px)
  .footeritem {
    font-size: 0.8em;
}
