@charset "UTF-8";

.background {
  background-image: url("images/tpw_background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c5c5c5;
  font-family: 'Big Shoulders Display', Arial, sans-serif;
  font-size: 12px;
}
