.background {
  background-image: url("images/tpw_background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c5c5c5;
  /* put in a linear gradient for div below header-image: background-image: radial-gradient(red, yellow); */
}
